html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

a:hover {
  color: orange;
}

@font-face {
  font-family: font2;
  src: url("font2.ttf");
}

@font-face {
  font-family: font3;
  src: url("font3.ttf");
}

/*HEADER */

.navbarContainer {
  display: flex;
  align-items: center;
  height: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(23, 23, 24, 0.7);
  justify-content: center;
  width: 100%;
  position: absolute;
}

#linkTextContainer {
  display: flex;
  flex-direction: row;
  list-style: none;
  /* Remove the bullet points */
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}

.linkText {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  /* Remove underline from links */
  margin: 0 20px;
  /* Add some space between the links */
  transition: all 0.3s ease;
  padding: 0 25px;
}

.linkText:hover {
  color: orange;
  /* Change text color on hover */
}

.logo {
  height: 50px;
  /* Set the same height as the navbar */
  padding-left: 4px;
  /* Add some padding to the logo */
  position: absolute;
  z-index: 100;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

/* H1 MIDDLE */

#coverContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5a25acaf6957da4a9919d928/1531428654834-UFXVOJ71D3L9PPIRAP53/Tatsu+Ramen+in+Lower+Manhattan+%2F+design+by+Studio+Unltd+%2F+artwork+by+Ando+Pndlian");
  background-size: contain;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

#cover {
  border: 3px solid orange;
  background-color: rgba(0, 0, 0, 0.8);
  width: 35%;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#coverTitle {
  text-align: center;
  font-size: 50px;
  font-family: cursive;
  letter-spacing: 8px;
  color: white;
  max-width: 100%;
  height: 40%;
}

#p1 {
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: cursive;
}

/* BUTTON */

.btn_container .btn {
  margin: 35px 0;
  padding: 15px 20px;
  background-color: orange;
  border: none;
  outline: none;
  border-radius: 80px;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* SECOND PAGE */

#feature {
  text-align: Center;
  font-size: 50px;
  color: orange;
  height: 25px;
  padding-bottom: 60px;
}

#ramenContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.descriptionContainer {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.ramenbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pramen {
  margin-top: 20px;
  text-align: center;
}

.titleramen {
  margin-top: 20px;
}

.titleramen {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}

.pramen {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

/* 3rd page */

.ourramen {
  text-align: center;
  background-color: #fff;
  margin: 0;
}

#ourramenTitle {
  font-size: 40px;
  font-family: font3;
  text-decoration: underline;
  padding: 25px 0;
}

#ourramenp {
  display: inline-block;
  font-size: 20px;
  width: 60%;
  margin-bottom: 50px;
  padding: 10px;
  font-family: font3;
}

/* FOOTER */

footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footercontainer {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  margin-bottom: 20px;
}

.footer-column {
  margin-bottom: 10px;
}

.footer-column p {
  margin: 0;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  border-top: 1px solid #fff;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  margin: 0;
}

.h3footer {
  color: orange;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.social {
  font-size: 15px;
}

/* LOCATION */
.location {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 13px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 1);
}
